html {
  margin: auto;
  width: 30%;
  background-color: #ffffff;
}
h1 {
  padding: .5em;
  background-color: #FF9933;
  border-radius: 50%;
  border: 5px solid #FFFFB5;
}
.head {
  text-align: center;
  border-color: #FFFFB5;
  background-color: #FF9933;
  margin-bottom: 0px;
}
.add,
.list,
.input {
  font-size: 2em;
}
li{
  list-style: none;
}
#list{
  padding-left: 0px;
}

body {
  background-color: #ffffff;
}
.enter {
  margin-bottom: 1em;
  float: right;
}
.checkbox {
  margin-top: 1em;
  display: inline-block !important;
  width: 55% !important;
  float: left;
}
.btn-warning {
  margin-top: 1em;
  float: right;
}
.input {
  height: 1em;
  width: 3em;
  font-size: .8em;
  padding-left: 4em;
}
.delete{
  margin:0px;
}
.btn-default:hover {
  background-color: #FF9933 !important;
}
.form-control {
  width: 60% !important;
  display: inline-block !important;
  margin-top: 1em;
}
@media only screen and (max-width: 1030px){
	.form-control {
  width: 45% !important;}
}
@media only screen and (max-width: 500px){
html {
  margin: 0;
  width: 100%;
}
}
