
html{
	margin: auto;
    width: 40%;
}
h1{
	border: 3px solid red;
	padding:10px;
}
.head, .add {
	text-align: center;
}
.add, .list,.input{
	font-size: 2em;
}
.add >p{
	float: left;
display: block;
}

.enter {
	display: block;
	float: right;
}

.list {
	padding-top: 2em;
}

.input{
	border: 3px solid red;
	padding:10px;
	height: 1em;
	width: 3em;
	background-color: green;
}
.delete{
	float: right;
	display: block;
}

.btn-default:hover{
	background-color: red !important;
}
.fa-check-square-o{
}
