
html{
	margin: auto;
    width: 40%;
    background-color: #ffffff;
}
h1{
	padding:.5em;
	background-color: #FF9933;
	border-radius:50%;
	border: 5px solid #FFFFB5;
}
.head{
	text-align: center;
	border-color:#FFFFB5;
	background-color: #FF9933;
	margin-bottom: 0px;
}
.add, .list,.input{
	font-size: 2em;
}
.add{
width:50%;
margin-bottom: 1em;
font-size: 1.5em;
	background-color: #FFFFB5;
	padding-top: .5em;

}
body{
	background-color: #ffffff;

}


.enter{
	font-size: .5em;
	margin-bottom: 1em;
	float:right;
}

.checkbox{
	margin-top: 1em;
	display: inline-block !important;
	width:55% !important;
	float:left;
}

.btn-default{
	margin-top: 1em;
	float:right;
}

.input{
	height: 1em;
	width: 3em;
	font-size: .8em;
	padding-left: 4em;
}

.btn-default:hover{
	background-color: #FF9933 !important;
}

.form-control {
	width:55% !important;
	display: inline-block !important;
	margin-top: 1em;
}